<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equacia Indumentaria</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header id="header">
        <div class="titulo">
            <h1>Equacia Indumentaria</h1>
        </div>
        <nav class="containerMenu">
            <div class="containerLogo">
                <a href="../index.html"><img class="logo" src="../img/logo.png.jpeg" width="100" alt="logo"></a>
            </div>
            <ul class="containerLista">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./promociones.html">Promociones</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="promociones" >
            <h1>Promociones</h1>
        </div>
        <ul class="containerImg" >
            <li><a href=""><img src="../img/promociones.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones2.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones3.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones4.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones5.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones6.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones7.jpg" width="250" alt=""></a></li>
            <li><a href=""><img src="../img/promociones8.jpg" width="250" alt=""></a></li>
        </ul>
    </main>

    <footer  class="containerFooter" >
        <div class="footerTitulo">
            <h3>Nuestras redes</h3>
        </div>

        <div  class="footerRedes">
            <a href="https://www.facebook.com/" target="_blank"><img src="../img/fb.png.jpeg" width="33" alt="Facebook">Facebook</a>
            <a href="https://www.instagram.com/" target="_blank" ><img src="../img/inst.png.jpeg" width="35" alt="Intagram">Intagram</a>
    
        </div>
    </footer>
</body>
</html>